@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Unbounded&display=swap');

:root {
    --main-color: #2d98fc;
    --text-color-dark: #282629;
    --text-color-light: #ffffff;
    --background-main: #D9D9D9;
}

$font-family: "Nunito Sans", serif;

$font-size-normal: 16px;
$font-size-meduim: 20px;
$font-size-title: 48px;